@charset "UTF-8";

#wrap_m * {
    /* border: 1px solid black; */
    box-sizing: border-box;
    text-align: center;
}

#wrap_m {
    width: 1200px;
    height: 600px;
    margin: auto;
}

#section_m {
    height: 100%;
}

#section_m>div {
    float: left;
}

#category_m {
    width: 19%;
    height: 40%;
    margin: 10px;
    margin-top: 50px;
    border: 2px solid green;
}

#content_profile_m {
    width: 29%;
    height: 70%;
    margin: 10px;
    margin-right: 0%;
    margin-left: 0%;
    margin-top: 50px;
    border: 2px solid green;
    border-right: none;
}

#content_challenge_m {
    width: 49%;
    height: 70%;
    margin: 10px;
    margin-right: 0%;
    margin-left: 0%;
    margin-top: 50px;
    border: 2px solid green;
    border-left: none;
}

#content_scrap_m {
    width:78%;
    height: 100%;
    margin: 10px;
    margin-right: 0%;
    margin-left: 0%;
    margin-top: 50px;
    border: 2px solid green;
    text-align: right;
}

#content_mb_m {
    width:78%;
    height: 100%;
    margin: 10px;
    margin-right: 0%;
    margin-left: 0%;
    margin-top: 50px;
    border: 2px solid green;
    text-align: center;
}

#content_userInfo_m {
    width:78%;
    height: 70%;
    margin: 10px;
    margin-right: 0%;
    margin-left: 0%;
    margin-top: 50px;
    border: 2px solid green;
    text-align: center;
}

#profile_m {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

#nickname_m {
    font-size: 1.5em;
}

#challenge_m {
    font-size: 1.3em;
}

#challenge_table_m {
    width: 370px;
    margin: auto;
}


#content_2_scrap_1 {
    text-align: center;
}

#img_scrap {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

#tb_mb {
    width: 700px;
    margin: auto;
}

#tb_userInfo {
    width: 400px;
    margin: auto;
}

#d_m {
	text-align: right;
}